body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

p{
    padding: 50px;
    background-color: lightblue;
    font-style: bold;
}

li {
    text-align: center; 
}
