body {
    font-family: sans-serif;
    margin: 0;
    background-color:#3C3C3C;
}

#top-bar{
    display:block;
    width:100%;
    background-color: #7FBEB8;
    text-align: center;
    margin:0px;
    margin-bottom:20px;
    padding:0;
    padding-top:10px;
    padding-bottom:10px;

}

h1{
    font-weight: bold;
    color: white;
}

li {
    text-align: center; 
}

#display{
    display:float;
    margin-left:auto;
    margin-right:auto;
    background-color:#062320;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.loadin{
    animation: fadeInAnimation ease 2s;
}

@keyframes fadeInOut{
    0%{
        opacity: 1;
    }
    10%{
        opacity: 0;
    }
    50%{
        opacity:0
    }
    100%{
        opacity: 1;
    }
}

.fade{
    animation: fadeInOut ease 1s;
}

#left-panel{
    display:float;
    float:left;
    width:20%;
    padding:0;
    margin:80px auto auto 0;
    background-color:#4A948D;
}

#left-panel button{
    font-family:inherit;
    font-size:14pt;
    font-weight:bold;
    padding:0;
    border:none;
    width:100%;
    height:55px;
    background-color:#ffffff;
    transition: background 0.3s ease-in-out
}

#left-panel button:hover{
    background-color:#e4e4e4;
}

#left-panel button:active{
    background-color:#c9c9c9;
}

.drop-content{
    display:none;
}

